# deps
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript build info
*.tsbuildinfo

# playwright ad-hoc debug artifacts
.playwright-cli/

# vercel
.vercel

# playwright
/test-results/
/playwright-report/
/blob-report/
/.playwright/
